/* global */
*{
    padding: 0%;
    
}

.global-section{
    padding: 3rem;

}
.global-heading{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.global-head-p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* first section */

.first-section p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.first-btn{
    width: 140px;
    height: 40px;
    background-color: black;
    color: aliceblue;
}
.first-section{
    background-image: url(/project2/woman-1866081_960_720\ -\ Copy.webp);
    background-repeat: no-repeat;
    
    background-size: cover;
    padding: 10rem 0;
    text-align: center;
}
.first-section h2{
    font-size: 45px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


}
p{
    color: rgb(10, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
}


.about-main{display: flex;
align-items: center;}

.about-main h2{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    height: 200px;
    width: auto;
    padding: 100px;
}

.about-main p{
    font-family: Arial, Helvetica, sans-serif;
}



.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;

}

.grid-single-item{
    padding: 20px;
    text-align: center;
}
.grid-single-item h2{
    margin: 15px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.custom-icon-size{
    font-size: 45px;
}


.img{
    width: auto;
    height: 200px;
    padding: 0%;
}


input{
    display: block;
    padding: 4px;
    width: 300px;
    margin-bottom: 13px;
    
}

textarea{
    margin-bottom: 13px;
}

form{
    margin-left: 40%;
    margin-top: 40px;
}
form label{
    display: block;
}

footer{
    background: black;
    
    text-align: center;
    height: 3rem;
    padding: 3px;
    margin-top: 60px;
}
footer p{
    color: white;
}
header{
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

header p{
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

header ul li{
    display: inline-block;
    margin-right: 10px;
}

